---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en antialiased">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="theme-color" content="#C8CEC8"/>
		<meta name="generator" content={Astro.generator} />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

		<meta name="description" content="Explore cutting-edge battery technology with our instant recharge, ultra-fast, high-tech, and infinite battery solutions. Perfect for electric and off-road vehicles, with rapid battery replacement and swap options. Embrace the future of sustainable mobility with advanced energy storage solutions.">
		<meta name="keywords" content="instant recharge battery, fast battery, high-tech battery, future battery, infinite battery, electric vehicle solution, off-road vehicle supply, fast battery replacement, battery swap, advanced energy storage, sustainable mobility, innovative battery systems, electric vehicle charging, battery technology, renewable energy solutions, EV battery innovation">

		<meta name="description" content="Esplora la tecnologia delle batterie all'avanguardia con le nostre soluzioni di ricarica istantanea, batterie ultra-veloci, high-tech e infinite. Perfette per veicoli elettrici e fuoristrada, con opzioni di rapida sostituzione e cambio della batteria. Abbraccia il futuro della mobilità sostenibile con soluzioni avanzate di accumulo energetico.">
		<meta name="keywords" content="batteria a ricarica istantanea, batteria veloce, batteria high-tech, batteria del futuro, batteria infinita, soluzione per veicoli elettrici, fornitura per veicoli fuoristrada, rapida sostituzione della batteria, cambio batteria, accumulo energetico avanzato, mobilità sostenibile, sistemi di batterie innovativi, ricarica veicoli elettrici, tecnologia delle batterie, soluzioni di energia rinnovabile, innovazione batterie EV">

				
		<title>{title}</title>
	</head>
	<body class="bg-nero">
		<slot />
	</body>
</html>
<style is:global>

	*{
		/* border: 1px solid red; */
		scroll-behavior: smooth;
	}

	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-50.woff2);
		font-weight: 50;
	}
	
	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-100.woff2);
		font-weight: 100;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-150.woff2);
		font-weight: 150;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-200.woff2);
		font-weight: 200;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-250.woff2);
		font-weight: 250;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-300.woff2);
		font-weight: 300;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-350.woff2);
		font-weight: 350;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-400.woff2);
		font-weight: 400;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-450.woff2);
		font-weight: 450;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-500.woff2);
		font-weight: 500;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-550.woff2);
		font-weight: 550;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-600.woff2);
		font-weight: 600;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-650.woff2);
		font-weight: 650;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-700.woff2);
		font-weight: 700;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-750.woff2);
		font-weight: 750;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-800.woff2);
		font-weight: 800;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-850.woff2);
		font-weight: 850;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-900.woff2);
		font-weight: 900;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-950.woff2);
		font-weight: 950;
	}


	@font-face {
		font-family: 'Aspekta';
		src: url(/font/Aspekta-1000.woff2);
		font-weight: 1000;
	}



</style>
<script is:inline>
	AOS.init();
</script>
